.vscode

# Arquivos de execução local Linux
src/executa*.sh

# Arquivos de execução local Windows
src/executa*.bat

# Caches dos módulos
src/*/__pycache__

# Resultados de execução
resultados/*.*
resultados/*/*
!resultados/*/.gitkeep


