.vscode

# Arquivos de execução local Linux
codigo/executa*.sh

# Arquivos de execução local Windows
codigo/executa*.bat

# Caches dos módulos
codigo/*/__pycache__

# Resultados de execução
resultados/*.*
resultados/*/*
!resultados/*/.gitkeep


