.vscode

# Arquivos de execução local
src/executa*.sh
src/executa*.bat

# Caches dos módulos
src/*/__pycache__

# Resultados de execução
resultados/*.*
resultados/*/*
!resultados/*/.gitkeep

programas_auxiliares/compilaResultado.py
programas_auxiliares/geraTodasImagens.py

